body {
    background-color: #2d2c34;
    text-align: center;
}

%btn {
    position: relative;
    display: inline-block;
    appearance: none;
    border: 0;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    color: white;
    font-size: 2em;
    margin-top: 30px;
    i {
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        height: 100%;
        box-sizing: border-box;
    }
}

@mixin bg($color, $pad) {
    background-color: $color;
    padding: $pad;
}

%ibefore {
    position: absolute;
    top: 30%;
    left: 30%;
}

.btn1 {
    @include bg( #1aa0dd, 20px 180px 20px 100px);
    @extend %btn;
    i {
        background-color: #1692c8;
        padding: 0 40px;
        &:before {
            @extend %ibefore;
            animation: scale 2s infinite;
        }
    }
}

.btn1:hover i:before {
    animation: none;
    transform: scale(1.5);
}

@keyframes scale {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.btn2 {
    background-color: #fc3d4a;
    padding: 20px 165px 20px 85px;
    @extend %btn;
    i {
        background-color: #f51b2a;
        padding: 0 32px;
        display: flex;
        align-items: center;
        &:before {
            animation: move 2s infinite;
        }
    }
}

.btn2:hover i:before {
    animation: none;
    transform: rotate(-90deg);
}

@keyframes move {
    0%,
    100% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(20px);
    }
}

.btn3 {
    background-color: #f165b5;
    padding: 20px 105px 20px 55px;
    @extend %btn;
    i {
        background-color: #d959a6;
        padding: 0 40px;
        &:before {
            @extend %ibefore;
            animation: rotate 0.5s infinite;
        }
    }
}

.btn3:hover i:before {
    animation: none;
    transform: scale(1.5);
}

@keyframes rotate {
    0%,
    100% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
}